.Text {
    display: inline-block;
    vertical-align: bottom;
}

.text-centerfix {
    margin-bottom: 18px;
}

.text-main {
    font-size: 44px;
    display: inline;
}

.text-measurement {
    margin-top: 19px;
}

.text-units {
    font-size: 12px;
    display: inline;
}