.Numeric {
    display: inline-block;
    vertical-align: bottom;
}

.numeric-centerfix {
    margin-bottom: 18px;
}

.numeric-main {
    font-size: 50px;
    display: inline;
}

.numeric-measurement {
    margin-top: 10px;
}

.numeric-units {
    font-size: 12px;
    display: inline;
}